- content_for :description do
  Port Katherine is an ongoing aetherpunk live action role playing game (LARP) that runs in New England. It has daring combat, devious politics, dreadful magic, dangerous monsters, and just about anything our players and staff can dream up. It is set in the fictional world of Lithos.
#react
