#mapCanvas {
  height: 20rem;
}

.bottomless {
  margin-bottom: 0;
}

.button.navy {
  background-color: $navy;
}

.card-section {
  border-bottom: 1px solid $twilight;
  h5 {
    color: $navy;
  }
}

.four-wide {
  min-width: 3.4rem;
  max-width: 3.4rem;
}

.header-font {
  font-family: "Milonga", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.input-group-label {
  background-color: $twilight;
}

.google-recaptcha {
  padding-bottom: 1rem;
}

.top-padded {
  padding-top: 1rem;
}

.top-spacer {
  padding-top: 7em;
}

.white {
  color: $white;
}

p.large {
  font-size: 1.2rem;

p.small {
  font-size: 0.8rem;
}

td {
  color: $solarized-base01;
  a {
    color: $solarized-base01
  }
}
