@import 'colors';

#mapCanvas {
  height: 20rem;
}

.bottomless {
  margin-bottom: 0;
}

.button.navy {
  background-color: $navy;
}

.google-recaptcha {
  padding-bottom: 1rem;
}

.top-padded {
  padding-top: 1rem;
}

.top-spacer {
  padding-top: 7em;
}

td {
  color: $solarized-base01;
  a {
    color: $solarized-base01
  }
}
