#mapCanvas {
  height: 20rem;
}

.body-font {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.bottomless {
  margin-bottom: 0;
}

.button.navy {
  background-color: $navy;
}

.card-section {
  border-bottom: 1px solid $twilight;
  h5 {
    color: $navy;
  }
}

.four-wide {
  min-width: 3.4rem;
  max-width: 3.4rem;
}

.header-font {
  font-family: "Milonga", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.input-group-label {
  background-color: $twilight;
}

.google-recaptcha {
  padding-bottom: 1rem;
}

.left-margin-spacer {
  margin-left: 1em;
}

.pre-line {
  white-space: pre-line;
}

.form-inputs.stretched {
  fieldset {
    padding-bottom: 1em;
  }

  fieldset.no-padding {
    padding-bottom: 0;
  }

  textarea {
    min-height: 12rem;
  }
}

.top-padded {
  padding-top: 1rem;
}

.top-spacer {
  padding-top: 7em;
}

.white {
  color: $white;
}

img.forum-avatar {
  border-radius: 22px;
  margin-right: 0.8em;
}

p.large {
  font-size: 1.2rem;
}

p.small {
  font-size: 0.8rem;
}

td {
  color: $solarized-base01;
  a {
    color: $solarized-base01
  }
}
